body {
    background: rgb(0,128,198);
    background: linear-gradient(180deg, rgba(0,128,198,1) 0%, rgba(0,34,68,1) 100%);
    background-attachment: fixed;
    font-family: sans-serif;
}

#header-image {
    height: auto; /* Page banner */
    width: 100%;
    border-style: solid;
    border-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    list-style-type: none; /* Navigation Bar */
    background-color: white;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    border-style: solid;
    border-color: white;
    font-size: 20px;
}

#navbar li {
    float: left; /* Puts the navbar buttons in a horizontal line going from left to right */
}

#navbar a:hover{
    color: #002244; /* Changes the color of the navbar buttons on hover */
}

.nav-link {
    display: block; /* Adjusts the text for each navigation link */
    text-align: center;
    padding: 14px 16px;
    color: #0080C6;
    text-decoration: none;
}

#navbar #contact {
    float: right; /* Moves the Contact button to the far right */
}

.article {
    width: 49%;
    background-color: white;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
}

.article-left {
    margin-right: 1%;
}

.article-right {
    margin-left: 1%;
    /* background-color: #FFC20E; */
    text-align: center;
    color: #002244;
}

.article-right img {
    width: 400px;
}

.article-right p {
    font-size: 30px; 
}

.article p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#headline-img {
    width: 100%
}

.article-headline {
    padding-left: 20px;
    padding-right: 20px;
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upcoming-game {
    width: 99%;
    background-color: white;
    font-size: 50px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-style: solid;
    border-color: #002244;
}